body{
  color: #3E444E;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.button--special {
  padding: 0.8rem;
  font-size: 0.875rem;
}

a.button--primary:hover, a.button--primary:focus, a.button--primary:active{
  text-decoration: none;
  background-color: #5172BD;
  border-color: #5172BD;
  color: #FFFFFF;
}

.dropdown-menu {
  border: none;
}

.dropdown-item {
  padding: 0;
  white-space: normal;
}

.solid-background--top--grey {
  top: 450px;
  position: absolute;
  width: 200%;
  height: 500px;
  transform: skewY(-3deg);
  z-index: -1;
  background: #F2F3F9;
}

.dynlist-navItem-tierOne--desktop {
  background-color: #555863;
  border: 0;
  border-bottom: 4px solid #F2F3F9;
  border-radius: none;
  color: #FFFFFF;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.dynlist-navItem-tierOne--desktop:hover, 
.dynlist-navItem-tierOne--desktop:focus, 
.dynlist-navItem-tierOne--desktop:active,
.dynlist-navItem-tierOne--desktop.active {
  background-color: #4364AF;
  outline: none;
  text-decoration: underline;
}

.dynlist-navItem-tierTwo--desktop {
  background-color: #FFFFFF;
  border: 0;
  border-bottom: 4px solid #F2F3F9;
  border-radius: none;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
}

.dynlist-navItem-tierTwo--desktop:hover, 
.dynlist-navItem-tierTwo--desktop:focus, 
.dynlist-navItem-tierTwo--desktop:active,
.dynlist-navItem-tierTwo--desktop.active {
  background-color: #4364AF;
  outline: none;
  text-decoration: underline;
  color: white;
}

.fa-m:before {
  font-family:"Inter",sans-serif;
  font-weight: 600;
  font-size: 18px;
  content: 'M';
  color: #FFFFFF;
}

.fa-f:before {
  font-family:"Inter",sans-serif;
  font-weight: 600;
  content: 'F';
  font-size: 18px;
  color: #FFFFFF;
}

.dynlist-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style: none;
}

.dynlist-breadcrumbItem {
  display: flex;
}

.dynlist-breadcrumbItem:hover {
  display: flex;
  text-decoration: underline;
}

.dynlist-bradcrumbItem-seperator {
  padding: 0 0.5rem;
  font-weight: normal;
  text-decoration: none;
}

.dynlist-breadcrumbItem.active {
  display: flex;
  font-weight: bold;
  color: #4364AF;
  text-decoration: none;
}

.dynlist-breadcrumbItem-mobile {
  display: flex;
  font-weight: bold;
  color: #4364AF;
}

.dynlist-breadcrumbItem-mobile::before {
  display: inline-block;
  padding-right: .5rem;
  content: "<";
  font-weight: bold;
  color: #4364AF;
}

.dynlist-breadcrumbItem-mobile-root {
  display: flex;
  font-weight: bold;
  color: #4364AF;
}

.dynlist-breadcrumbItem-mobile-root::after {
  display: inline-block;
  padding-left: .5rem;
  content: ">";
  font-weight: bold;
  color: #4364AF;
}

.dynlist-nav--mobile {
  display: block;
  z-index: 1000;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll !important;
}

.dynlist-nav-close {
  width: 26px;
  height: 40px;
  border-radius: 4px;
  position: relative;
  right: -4px;
  margin-left: auto;
}

.dynlist-nav-close::before, .dynlist-nav-close::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 11px;
  width: 3px;
  height: 24px;
  background-color: #3e444e;
  border-radius: 2px;
}

.dynlist-nav-close::before {
  transform: rotate(45deg);
}

.dynlist-nav-close::after {
  transform: rotate(-45deg);
}

.icon-background {
  color: black;
}

#dynlistPage .section {
  padding: 1rem 0
}

#dynlistPage .section--last {
  padding-bottom: 6rem;
}

/* #dynlistPage .h1 {
  font-size: ;
} */

@media (min-width: 880px){
  #dynlistPage .section {
    padding: 2.5rem 0;
  }

  #dynlistPage .section--last {
    padding-bottom: 15rem;
  }

  #dynlistPage h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

}